apiVersion: v1
kind: Service
metadata:
  name: gateway
  namespace: mini-marketplace
spec:
  type: LoadBalancer 
  selector:
    app: gateway
  ports:
    - protocol: TCP
      port: 80     
      targetPort: 50051 