apiVersion: apps/v1
kind: Deployment
metadata:
  name: users
  namespace: mini-marketplace
spec:
  replicas: 1
  selector:
    matchLabels:
      app: users
  template:
    metadata:
      labels:
        app: users
    spec:
      containers:
      - name: users
        image: mini-marketplace-users:latest
        imagePullPolicy: Never 
        ports:
        - containerPort: 50054
        env:
        - name: DB_HOST
          value: "postgres-db"
        - name: DB_PORT
          value: "5432"
        - name: DB_USER
          value: "admin"
        - name: DB_PASSWORD
          value: "pwd"
        - name: DB_NAME
          value: "marketplace_db"