apiVersion: apps/v1
kind: Deployment
metadata:
  name: users
  namespace: mini-marketplace
spec:
  replicas: 1
  selector:
    matchLabels:
      app: users
  template:
    metadata:
      labels:
        app: users
    spec:
      containers:
      - name: users
        image: mini-marketplace-users:latest
        imagePullPolicy: Never 
        ports:
        - containerPort: 50054