apiVersion: apps/v1
kind: Deployment
metadata:
  name: products
  namespace: mini-marketplace
spec:
  replicas: 1
  selector:
    matchLabels:
      app: products
  template:
    metadata:
      labels:
        app: products
    spec:
      containers:
      - name: products
        image: mini-marketplace-products:latest
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 50051
        env:
        - name: DB_HOST
          value: "postgres-db"
        - name: DB_PORT
          value: "5432"
        - name: DB_USER
          value: "admin"
        - name: DB_PASSWORD
          value: "pwd"
        - name: DB_NAME
          value: "marketplace_db"
