apiVersion: apps/v1
kind: Deployment
metadata:
  name: metadata
  namespace: mini-marketplace
spec:
  replicas: 1
  selector:
    matchLabels:
      app: metadata
  template:
    metadata:
      labels:
        app: metadata
    spec:
      containers:
      - name: metadata
        image: mini-marketplace-metadata:latest
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 50053
